.Order{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 2px 3px #eee;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

.Order span{
    margin: 0 8px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #eee;
    display: inline-block;
}

@media(max-width: 620px){
    .Order{
        font-size: 12px;
    }
}
@media(max-width: 509px){
    .Order{
        font-size: 8px;
    }
}
@media(max-width: 395px){
    .Order span {
         margin: 0 5px;
    }
    .Order {
        font-size: 7px;
    }
}