.Burger{
    width: 100%;
    margin: auto;
<<<<<<< HEAD
    height: 350px;
    overflow: scroll;
=======
    height: 250px;
>>>>>>> f24e398b6b7ede7e5711b03f3c238388aed5c4c4
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

@media (min-width:500px) and (min-height: 400px){
    .Burger{
        width: 350px;
        height: 300px;
        font-size: 1.2rem;


    }
}
@media (min-width: 500px) and (min-height: 401px){
    .Burger{
        width: 400px;
        height: 350px;
        font-size: 1.2rem;

    }
}
@media (min-width:1000px) and (min-height: 750px){
    .Burger{
        width: 700px;
        height: 600px;
        font-size: 1.2rem;


    }
}